
$primary:#9fd5b7;

$light-primary:#d3f0e0;

$dark-primary:#217346;


$border-color: #dfdfdf !default;

$font-color: #444 !default;

$sub-font-color: #5e5e5e !default;

$active-bgcolor: $dark-primary !default;

$hover-bgcolor: $primary !default;

$global-bgcolor:#fff;
